<% if model.favorited_by?(current_user) %>
  <td><%= link_to book_favorites_path(model), class: "fas fa-heart", method: :delete do %>
    <%= model.favorites.count %>
    <% end %>
  </td>
<% else %>
  <td>
    <%= link_to book_favorites_path(model), class: "fas fa-heart", method: :post do %>
    <%= model.favorites.count %>
    <% end %>
  </td>
<% end %>